# CityBikes

Send a request to CityBikes for the city of your choice.

In [105]:
import requests

# Get all available bike locations 
request_url = "https://api.citybik.es/v2/networks"
response = requests.get(request_url)
data = response.json()

print(len(data["networks"]))  

#for network in data["networks"]:
   # print(network["id"])

781

In [98]:

# Get all available bike locations in Abu Dhabi
request_url_abu_dhabi = "https://api.citybik.es/v2/networks/abu-dhabi-careem-bike"
response = requests.get(request_url_abu_dhabi)
data_abu_dhabi = response.json()

request_url_acces_velo_saguenay = "https://api.citybik.es/v2/networks/acces-velo-saguenay"
response = requests.get(request_url_acces_velo_saguenay)
data_acces_velo_saguenay = response.json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [101]:
stations_abu = data_abu_dhabi['network']['stations']
print(f"Total stations: {len(stations_abu)}")

stations_acc = data_acces_velo_saguenay['network']['stations']
print(f"Total stations: {len(stations_acc)}")

#print(stations[0]) 
#print(stations) 
all_stations = stations_abu + stations_acc

Total stations: 22
Total stations: 14

Put your parsed results into a DataFrame.

In [104]:
import requests
import pandas as pd

for s in stations_abu:
    s['network'] = 'abu-dhabi'

for s in stations_acc:
    s['network'] = 'acces-velo-saguenay'

# Build DataFrame
df = pd.DataFrame([{
    'network': s['network'],
    'name': s['name'],
    'latitude': s['latitude'],
    'longitude': s['longitude'],
    'free_bikes': s['free_bikes'],
    'empty_slots': s['empty_slots'],
    'slots': s.get('extra', {}).get('slots'),
    'calculated_total': (s['free_bikes'] or 0) + (s['empty_slots'] or 0)
} for s in all_stations])

df.head()

,network,name,latitude,longitude,free_bikes,empty_slots,slots,calculated_total
0,abu-dhabi,AUH - Marasy,24.451202,54.334510,0,7,7,7
1,abu-dhabi,AUH - Al Zeina,24.456953,54.615754,1,14,15,15
2,abu-dhabi,AUH - ADIA HQ,24.486103,54.350087,4,6,10,10
3,abu-dhabi,AUH - Al Muneera North,24.452079,54.604651,1,2,3,3
4,abu-dhabi,AUH - Yas Marina,24.465793,54.609610,1,3,4,4